@charset "utf-8";
/* CSS Document */

/*  STYLESHEET
Author  : We Sort
URL     : wesort.co.uk
Twitter : @we_sort
---------------------------------------*/


/*  CSS RESET
Author  : Eric Meyer
URL     : http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
---------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video
	{ margin: 0; padding: 0; border: 0; font-size: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-family: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { position: relative; line-height: 1; }
ol, ul {list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
/* Set box to natural instinct */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Further base-lining from Normalise.css  ~ http://necolas.github.io/normalize.css
*/
a { background: transparent; }
a:active, a:hover { outline: 0; }
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 1px; width: 100%; border: none;}
code, pre { font-family: monospace, serif; font-size: 1em; }
pre { white-space: pre-wrap; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sub { top: -0.5em; }
sup { bottom: -0.25em; }
img { max-width:100%; display: block;  }
input { -webkit-border-radius:0; border-radius:0; -webkit-appearance: none; -moz-appearance: none; }
.nowrap { white-space: nowrap; }
/* Disable iOS/WinMobile font size changes
---------------------------*/
@media all and (max-width: 600px), all and (max-device-width: 480px) {
        html {-ms-text-size-adjust: none; -webkit-text-size-adjust: none; }     }
.clearfix:after {  content: "."; visibility: hidden; display: block;  height: 0; clear: both; }


/* iOS rotation fix: iOS<6 has a bug that zooms on device rotation
via https://gist.github.com/sergiolopes/1935528
*/
/* iPhone */
@media only screen and (width:320px) and (device-width:320px) and (device-height:480px) and (orientation: landscape) {
	body {
		-webkit-transform: scale(0.667);
		-webkit-transform-origin: top right;
		position: absolute;
		right: 0;
		top: 0;
		width: 480px;
	}
}
/* iPad */
@media only screen and (width:768px) and (device-width:768px) and (device-height:1024px) and (orientation: landscape) {
	body {
		-webkit-transform: scale(0.75);
		-webkit-transform-origin: top right;
		position: absolute;
		right: 0;
		top: 0;
		width: 1024px;
	}
}

/* bug indicator
---------------------------*/
.pink { background: #FFB8C6; }
.blue { background: #A3C8E0; }
.green { background: #AFE4B9; }
.orange {background: #FFC099; }

.left { float: left !important;}
.right { float: right !important; }

/*  Baselines
---------------------------*/
ol { list-style: decimal inside; }
em, i { font-style: italic; }
pre, code { background: #666666; padding: 0.5em 1em; color: #FFFFFF; font-family: inherit; }
code { background: none; }
p code { padding: 0 0.5em; font-size: 90%; background: #666666; }
table { border: 1px solid #CECECE; margin: 0 auto; }
th { background-color: #666666; color: #FFFFFF; }
th, td { padding: 0.5em; border: 1px solid #CECECE; }
tr:nth-child(2n) { background-color: #F8F8F8; color: #282828;}

/*  RESPONSIVE GRID FRAMEWORK
Author  : Boon (original) & We Sort (adjusted)
URL     : http://builtbyboon.com
Code    : https://github.com/mattberridge/Proportional-Grids
Twitter	: http://twitter.com/mattberridge
---------------------------------------*/

/* -- Wraps & Gutters
------------------------------------------------------------- */
.grid-wrap {
  margin-left: -1rem;  /* -- Sets the baseline gutter -- */
  overflow: hidden;
  clear: both;
}

.grid-col {
  padding-left: 1rem; /* -- Sets the baseline gutter -- */
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.reset-gutter { margin-left: -1rem; }
	.reset-gutter .grid-col { padding-left: 1rem; }

.no-gutter { margin-left: 0; }
	.no-gutter .grid-col { padding-left: 0; }

.half-gutter { margin-left: -0.5rem; }
	.half-gutter .grid-col { padding-left: 0.5rem; }

.one-and-half-gutter { margin-left: -1.5rem; }
	.one-and-half-gutter .grid-col { padding-left: 1.5rem; }

.double-gutter { margin-left: -2rem; }
	.double-gutter .grid-col { padding-left: 2rem; }

ul.grid-wrap, ol.grid-wrap { padding-left: 0; list-style: none; }

li.grid-col { margin-left: 0; }


/* -- Column Widths
-- Naming convention allowing for easy math(s)
-- Syntax:  ".col-" + [number of columns to be used] + "-" + [total column number]
-- Ex:      two-thirds = ".col-2-3"
-- Note:    2 รท 3 = 0.666666 = 66.666%
------------------------------------------------------------- */
/* 1 */
.col-1-1, .col-set-1-1 .grid-col { width: 100%; }
/* 2 */
.col-1-2, .col-set-1-2 .grid-col { width: 50%; }
/* 3 */
.col-1-3, .col-set-1-3 .grid-col { width: 33.333%; }
	.col-2-3 { width: 66.666%; }
/* 4 */
.col-1-4, .col-set-1-4 .grid-col { width: 25%; }
	.col-3-4 { width: 75%; }
/* 5 */
.col-1-5, .col-set-1-5 .grid-col { width: 20%; }
	.col-2-5 { width: 40%; }
	.col-3-5 { width: 60%; }
	.col-4-5 { width: 80%; }
/* 6 */
.col-1-6, .col-set-1-6 .grid-col { width: 16.666%; }
	.col-5-6 { width: 83.333%; }
/* 7 */
.col-1-7, .col-set-1-7 .grid-col { width: 14.286%; }
	.col-2-7 { width: 28.571%; }
	.col-3-7 { width: 42.857%; }
	.col-4-7 { width: 57.143%; }
	.col-5-7 { width: 71.429%; }
	.col-6-7 { width: 85.714%; }
/* 8 */
.col-1-8, .col-set-1-8 .grid-col { width: 12.5%; }
	.col-3-8 { width: 37.5%; }
	.col-5-8 { width: 62.5%; }
	.col-7-8 { width: 87.5%; }
/* 9 */
.col-1-9, .col-set-1-9 .grid-col { width: 11.111%; }
	.col-2-9 { width: 22.222%; }
	.col-4-9 { width: 44.444%; }
	.col-5-9 { width: 55.556%; }
	.col-7-9 { width: 77.778%; }
	.col-8-9 { width: 88.889%; }
/* 10 */
.col-1-10, .col-set-1-10 .grid-col { width: 10%; }
	.col-3-10 { width: 30%; }
	.col-7-10 { width: 70%; }
	.col-9-10 { width: 90%; }
/* 11 */
.col-1-11, .col-set-1-11 .grid-col { width: 9.091%; }
	.col-2-11 { width: 18.182%; }
	.col-3-11 { width: 27.273%; }
	.col-4-11 { width: 36.364%; }
	.col-5-11 { width: 45.455%; }
	.col-6-11 { width: 54.546%; }
	.col-7-11 { width: 63.636%; }
	.col-8-11 { width: 72.727%; }
	.col-9-11 { width: 81.818%; }
	.col-10-11 { width: 90.909%; }
/* 12 */
.col-1-12, .col-set-1-12 .grid-col { width: 8.333%; }
	.col-5-12 { width: 41.667%; }
	.col-7-12 { width: 58.333%; }
	.col-11-12 { width: 91.667%; }

/* Paragraph columns */
.p-col-2 {
	column-count: 2;
	column-gap: 1rem;
	-moz-column-count: 2;
	-moz-column-gap: 1rem;
	-webkit-column-count: 2;
	-webkit-column-gap : 1rem;}
.p-col-3 {
	column-count: 3;
	column-gap: 1rem;
	-moz-column-count: 3;
	-moz-column-gap: 1rem;
	-webkit-column-count: 3;
	-webkit-column-gap : 1rem;}

/* -- Breakpoint (.bp1)
-- Same as above, but each class has ".bp1-" prefix
------------------------------------------------------------- */
@media only screen and (min-width: 30rem) {
/* Gutters */
.bp1-reset-gutter { margin-left: -1rem; }
	.bp1-reset-gutter .grid-col { padding-left: 1rem; }

.bp1-no-gutter { margin-left: 0; }
	.bp1-no-gutter .grid-col { padding-left: 0; }

.bp1-half-gutter { margin-left: -0.5rem; }
	.bp1-half-gutter .grid-col { padding-left: 0.5rem; }

.bp1-one-and-half-gutter { margin-left: -1.5rem; }
	.bp1-one-and-half-gutter .grid-col { padding-left: 1.5rem; }

.bp1-double-gutter { margin-left: -2rem; }
	.bp1-double-gutter .grid-col { padding-left: 2rem; }

/* 1 */
.bp1-col-1-1, .bp1-col-set-1-1 .grid-col { width: 100%; }
/* 2 */
.bp1-col-1-2, .bp1-col-set-1-2 .grid-col { width: 50%; }
/* 3 */
.bp1-col-1-3, .bp1-col-set-1-3 .grid-col { width: 33.333%; }
	.bp1-col-2-3 { width: 66.666%; }
/* 4 */
.bp1-col-1-4, .bp1-col-set-1-4 .grid-col { width: 25%; }
	.bp1-col-3-4 { width: 75%; }
/* 5 */
.bp1-col-1-5, .bp1-col-set-1-5 .grid-col { width: 20%; }
	.bp1-col-2-5 { width: 40%; }
	.bp1-col-3-5 { width: 60%; }
	.bp1-col-4-5 { width: 80%; }
/* 6 */
.bp1-col-1-6, .bp1-col-set-1-6 .grid-col { width: 16.666%; }
	.bp1-col-5-6 { width: 83.333%; }
/* 7 */
.bp1-col-1-7, .bp1-col-set-1-7 .grid-col { width: 14.286%; }
	.bp1-col-2-7 { width: 28.571%; }
	.bp1-col-3-7 { width: 42.857%; }
	.bp1-col-4-7 { width: 57.143%; }
	.bp1-col-5-7 { width: 71.429%; }
	.bp1-col-6-7 { width: 85.714%; }
/* 8 */
.bp1-col-1-8, .bp1-col-set-1-8 .grid-col { width: 12.5%; }
	.bp1-col-3-8 { width: 37.5%; }
	.bp1-col-5-8 { width: 62.5%; }
	.bp1-col-7-8 { width: 87.5%; }
/* 9 */
.bp1-col-1-9, .bp1-col-set-1-9 .grid-col { width: 11.111%; }
	.bp1-col-2-9 { width: 22.222%; }
	.bp1-col-4-9 { width: 44.444%; }
	.bp1-col-5-9 { width: 55.556%; }
	.bp1-col-7-9 { width: 77.778%; }
	.bp1-col-8-9 { width: 88.889%; }
/* 10 */
.bp1-col-1-10, .bp1-col-set-1-10 .grid-col { width: 10%; }
	.bp1-col-3-10 { width: 30%; }
	.bp1-col-7-10 { width: 70%; }
	.bp1-col-9-10 { width: 90%; }
/* 11 */
.bp1-col-1-11, .bp1-col-set-1-11 .grid-col { width: 9.091%; }
	.bp1-col-2-11 { width: 18.182%; }
	.bp1-col-3-11 { width: 27.273%; }
	.bp1-col-4-11 { width: 36.364%; }
	.bp1-col-5-11 { width: 45.455%; }
	.bp1-col-6-11 { width: 54.546%; }
	.bp1-col-7-11 { width: 63.636%; }
	.bp1-col-8-11 { width: 72.727%; }
	.bp1-col-9-11 { width: 81.818%; }
	.bp1-col-10-11 { width: 90.909%; }
/* 12 */
.bp1-col-1-12, .bp1-col-set-1-12 .grid-col { width: 8.333%; }
	.bp1-col-5-12 { width: 41.667%; }
	.bp1-col-7-12 { width: 58.333%; }
	.bp1-col-11-12 { width: 91.667%; }

.bp1-p-col-2 {
	column-count: 2;
	column-gap: 1rem;
	-moz-column-count: 2;
	-moz-column-gap: 1rem;
	-webkit-column-count: 2;
	-webkit-column-gap : 1rem;
}

.bp1-p-col-3 {
	column-count: 3;
	column-gap: 1rem;
	-moz-column-count: 3;
	-moz-column-gap: 1rem;
	-webkit-column-count: 3;
	-webkit-column-gap : 1rem;
}
.bp1-hide { display: none; }
.bp1-left { float: left !important;}
.bp1-right { float: right !important; }
}

/* -- Breakpoint 2 (.bp2)
------------------------------------------------------------- */
@media only screen and (min-width: 48rem) {
/* Gutters */
.bp2-reset-gutter { margin-left: -1rem; }
	.bp2-reset-gutter .grid-col { padding-left: 1rem; }

.bp2-no-gutter { margin-left: 0; }
	.bp2-no-gutter .grid-col { padding-left: 0; }

.bp2-half-gutter { margin-left: -0.5rem; }
	.bp2-half-gutter .grid-col { padding-left: 0.5rem; }

.bp2-one-and-half-gutter { margin-left: -1.5rem; }
	.bp2-one-and-half-gutter .grid-col { padding-left: 1.5rem; }

.bp2-double-gutter { margin-left: -2rem; }
	.bp2-double-gutter .grid-col { padding-left: 2rem; }

/* 1 */
.bp2-col-1-1, .bp2-col-set-1-1 .grid-col { width: 100%; }
/* 2 */
.bp2-col-1-2, .bp2-col-set-1-2 .grid-col { width: 50%; }
/* 3 */
.bp2-col-1-3, .bp2-col-set-1-3 .grid-col { width: 33.333%; }
	.bp2-col-2-3 { width: 66.666%; }
/* 4 */
.bp2-col-1-4, .bp2-col-set-1-4 .grid-col { width: 25%; }
	.bp2-col-3-4 { width: 75%; }
/* 5 */
.bp2-col-1-5, .bp2-col-set-1-5 .grid-col { width: 20%; }
	.bp2-col-2-5 { width: 40%; }
	.bp2-col-3-5 { width: 60%; }
	.bp2-col-4-5 { width: 80%; }
/* 6 */
.bp2-col-1-6, .bp2-col-set-1-6 .grid-col { width: 16.666%; }
	.bp2-col-5-6 { width: 83.333%; }
/* 7 */
.bp2-col-1-7, .bp2-col-set-1-7 .grid-col { width: 14.286%; }
	.bp2-col-2-7 { width: 28.571%; }
	.bp2-col-3-7 { width: 42.857%; }
	.bp2-col-4-7 { width: 57.143%; }
	.bp2-col-5-7 { width: 71.429%; }
	.bp2-col-6-7 { width: 85.714%; }
/* 8 */
.bp2-col-1-8, .bp2-col-set-1-8 .grid-col { width: 12.5%; }
	.bp2-col-3-8 { width: 37.5%; }
	.bp2-col-5-8 { width: 62.5%; }
	.bp2-col-7-8 { width: 87.5%; }
/* 9 */
.bp2-col-1-9, .bp2-col-set-1-9 .grid-col { width: 11.111%; }
	.bp2-col-2-9 { width: 22.222%; }
	.bp2-col-4-9 { width: 44.444%; }
	.bp2-col-5-9 { width: 55.556%; }
	.bp2-col-7-9 { width: 77.778%; }
	.bp2-col-8-9 { width: 88.889%; }
/* 10 */
.bp2-col-1-10, .bp2-col-set-1-10 .grid-col { width: 10%; }
	.bp2-col-3-10 { width: 30%; }
	.bp2-col-7-10 { width: 70%; }
	.bp2-col-9-10 { width: 90%; }
/* 11 */
.bp2-col-1-11, .bp2-col-set-1-11 .grid-col { width: 9.091%; }
	.bp2-col-2-11 { width: 18.182%; }
	.bp2-col-3-11 { width: 27.273%; }
	.bp2-col-4-11 { width: 36.364%; }
	.bp2-col-5-11 { width: 45.455%; }
	.bp2-col-6-11 { width: 54.546%; }
	.bp2-col-7-11 { width: 63.636%; }
	.bp2-col-8-11 { width: 72.727%; }
	.bp2-col-9-11 { width: 81.818%; }
	.bp2-col-10-11 { width: 90.909%; }
/* 12 */
.bp2-col-1-12, .bp2-col-set-1-12 .grid-col { width: 8.333%; }
	.bp2-col-5-12 { width: 41.667%; }
	.bp2-col-7-12 { width: 58.333%; }
	.bp2-col-11-12 { width: 91.667%; }

.bp2-p-col-2 {
	column-count: 2;
	column-gap: 1rem;
	-moz-column-count: 2;
	-moz-column-gap: 1rem;
	-webkit-column-count: 2;
	-webkit-column-gap : 1rem;
}

.bp2-p-col-3 {
	column-count: 3;
	column-gap: 1rem;
	-moz-column-count: 3;
	-moz-column-gap: 1rem;
	-webkit-column-count: 3;
	-webkit-column-gap : 1rem;
}
.bp2-hide { display: none; }
.bp2-left { float: left !important;}
.bp2-right { float: right !important; }
}


/* -- Breakpoint 3 (.bp3)
------------------------------------------------------------- */
@media only screen and (min-width: 60rem) {
/* Gutters */
.bp3-reset-gutter { margin-left: -1rem; }
	.bp3-reset-gutter .grid-col { padding-left: 1rem; }

.bp3-no-gutter { margin-left: 0; }
	.bp3-no-gutter .grid-col { padding-left: 0; }

.bp3-half-gutter { margin-left: -0.5rem; }
	.bp3-half-gutter .grid-col { padding-left: 0.5rem; }

.bp3-one-and-half-gutter { margin-left: -1.5rem; }
	.bp3-one-and-half-gutter .grid-col { padding-left: 1.5rem; }

.bp3-double-gutter { margin-left: -2rem; }
	.bp3-double-gutter .grid-col { padding-left: 2rem; }

/* 1 */
.bp3-col-1-1, .bp3-col-set-1-1 .grid-col { width: 100%; }
/* 2 */
.bp3-col-1-2, .bp3-col-set-1-2 .grid-col { width: 50%; }
/* 3 */
.bp3-col-1-3, .bp3-col-set-1-3 .grid-col { width: 33.333%; }
	.bp3-col-2-3 { width: 66.666%; }
/* 4 */
.bp3-col-1-4, .bp3-col-set-1-4 .grid-col { width: 25%; }
	.bp3-col-3-4 { width: 75%; }
/* 5 */
.bp3-col-1-5, .bp3-col-set-1-5 .grid-col { width: 20%; }
	.bp3-col-2-5 { width: 40%; }
	.bp3-col-3-5 { width: 60%; }
	.bp3-col-4-5 { width: 80%; }
/* 6 */
.bp3-col-1-6, .bp3-col-set-1-6 .grid-col { width: 16.666%; }
	.bp3-col-5-6 { width: 83.333%; }
/* 7 */
.bp3-col-1-7, .bp3-col-set-1-7 .grid-col { width: 14.286%; }
	.bp3-col-2-7 { width: 28.571%; }
	.bp3-col-3-7 { width: 42.857%; }
	.bp3-col-4-7 { width: 57.143%; }
	.bp3-col-5-7 { width: 71.429%; }
	.bp3-col-6-7 { width: 85.714%; }
/* 8 */
.bp3-col-1-8, .bp3-col-set-1-8 .grid-col { width: 12.5%; }
	.bp3-col-3-8 { width: 37.5%; }
	.bp3-col-5-8 { width: 62.5%; }
	.bp3-col-7-8 { width: 87.5%; }
/* 9 */
.bp3-col-1-9, .bp3-col-set-1-9 .grid-col { width: 11.111%; }
	.bp3-col-2-9 { width: 22.222%; }
	.bp3-col-4-9 { width: 44.444%; }
	.bp3-col-5-9 { width: 55.556%; }
	.bp3-col-7-9 { width: 77.778%; }
	.bp3-col-8-9 { width: 88.889%; }
/* 10 */
.bp3-col-1-10, .bp3-col-set-1-10 .grid-col { width: 10%; }
	.bp3-col-3-10 { width: 30%; }
	.bp3-col-7-10 { width: 70%; }
	.bp3-col-9-10 { width: 90%; }
/* 11 */
.bp3-col-1-11, .bp3-col-set-1-11 .grid-col { width: 9.091%; }
	.bp3-col-2-11 { width: 18.182%; }
	.bp3-col-3-11 { width: 27.273%; }
	.bp3-col-4-11 { width: 36.364%; }
	.bp3-col-5-11 { width: 45.455%; }
	.bp3-col-6-11 { width: 54.546%; }
	.bp3-col-7-11 { width: 63.636%; }
	.bp3-col-8-11 { width: 72.727%; }
	.bp3-col-9-11 { width: 81.818%; }
	.bp3-col-10-11 { width: 90.909%; }
/* 12 */
.bp3-col-1-12, .bp3-col-set-1-12 .grid-col { width: 8.333%; }
	.bp3-col-5-12 { width: 41.667%; }
	.bp3-col-7-12 { width: 58.333%; }
	.bp3-col-11-12 { width: 91.667%; }

.bp3-p-col-2 {
	column-count: 2;
	column-gap: 1rem;
	-moz-column-count: 2;
	-moz-column-gap: 1rem;
	-webkit-column-count: 2;
	-webkit-column-gap : 1rem;
}

.bp3-p-col-3 {
	column-count: 3;
	column-gap: 1rem;
	-moz-column-count: 3;
	-moz-column-gap: 1rem;
	-webkit-column-count: 3;
	-webkit-column-gap : 1rem;
}
.bp3-hide { display: none; }
.bp3-left { float: left !important;}
.bp3-right { float: right !important; }
}



/*  END  */